@import url("https://fonts.googleapis.com/css2?family=Mulish&family=Open+Sans:wght@300;400;500&family=Rubik&display=swap");
// font-family: 'Mulish', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Rubik', sans-serif;

// ==================================================
// FONT FAMILY
// ==================================================
$MULISH: "Mulish", sans-serif;
$OPEN_SANS: "Open Sans", sans-serif;
$RUBIK: "Rubik", sans-serif;

// ==================================================
// COLOR SCHEME
// ==================================================
$BLUE: #288fb4;
$DARK_BLUE: #1d556f;
$BASE_LIGHT: #fafeff;
$DIMMED_LIGHT: #9b978b;
$RED: #fa360a;
