@import url("https://fonts.googleapis.com/css2?family=Mulish&family=Open+Sans:wght@300;400;500&family=Rubik&display=swap");
// font-family: 'Mulish', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Rubik', sans-serif;

// ==================================================
// FONT FAMILY
// ==================================================
$MULISH: "Mulish", sans-serif;
$OPEN_SANS: "Open Sans", sans-serif;
$RUBIK: "Rubik", sans-serif;

// ==================================================
// COLOR SCHEME
// ==================================================
$BLUE: #288fb4;
$DARK_BLUE: #1d556f;
$PURPLE: #8d6bce;
$DARK_PURPLE: #724fb4;
$RED: #fa360a;
$LIGHT_RED: #f56f51;
$GREEN: #33b33e;
$BASE_LIGHT: #ededed;
$WHITE: #f7f7f7;
$DIMMED_LIGHT: #9b978b;
$BLACK: #181818;
