@import "variables";
@import "global";

header {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  > img {
    width: 12rem;
  }
  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    > img {
      cursor: pointer;
      width: 1.5rem;
      height: 1.5rem;
    }
    > h1 {
      cursor: pointer;
      margin: 0 2rem;
      font-family: $OPEN_SANS;
      font-weight: 500;
      font-size: 1.5rem;
      color: $DARK_BLUE;
    }
    > div {
      cursor: pointer;
      color: $DARK_BLUE;
    }
  }
}

// ==================================================
// MAIN COMPONENTS
// ==================================================
.components {
  padding: 2rem;
  display: grid;
  gap: 2rem;
  // main
  .main {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1.5fr 2.5fr;
    width: 100%;
    height: 15rem;
    > form {
      border: 1px solid $BLUE;
      display: flex;
      flex-direction: column;
    }
    .details {
      border: 1px solid $BLUE;
    }
  }
  // increase / decrease
  .stats {
    display: grid;
    gap: 2rem;
    grid-template-columns: 2.5fr 1.5fr;
    width: 100%;
    height: 25rem;
    .stats-current-week {
      border: 1px solid $BLUE;
    }
    .stats-increase-decrease {
      border: 1px solid $BLUE;
    }
  }
  // averages per month
  .average {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    height: 15rem;
    .box {
      border: 1px solid $BLUE;
      overflow: hidden;
    }
    .average-current-month {
    }
    .average-past-month {
    }
    .average-three-month {
    }
    .average-six-month {
    }
  }
}
